#!/bin/bash

#### Get a free API key to get 10k top reported IPs from https://www.abuseipdb.com/account/api
# Ensure you do a .gitignore on this file to not expose if doing a public repo.
abuseIPDB_KEY="YOUR_KEY_HERE"
export abuseIPDB_KEY
